dataset/*
dataset2/*
sw_benchmark/*
subgraphiso-kria*/*
subiso_bd/*
subiso_bd2023/*
.vscode/*
result*
vivado*
DaCH/*
scripts/bitstream/*
scripts/run_list*
scripts/netlist4RM.py
.Xil/*
*.log
*.wcfg
settings.tcl
*.txt
